@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.container {
    display: flex;
    /*background: url("images/crwd-bg.png");*/
    min-height: 100vh !important;
    flex-direction: column;
    overflow: hidden;
}

.showcase {
    background: url("images/gamesAdv.png") no-repeat center;
    height: 60vh;
    min-width: 100vw;
}

.backLink a{
    color: #FFF;
    font-weight: bold;
    padding: 30px;
}

.hr {
    border: .5px solid rgba(255, 255, 255, .87);
    margin-bottom: 100px;
}

.paper {
    background: red;
}

.update {
    /*padding-bottom: 600px;*/
    height: 100%;
}

.MuiTypography-h3 {
    color: red !important;
}

.gamesViewBackground {
    position: relative;
    background: black;
    opacity: 0.96;
    height: 100vh;
    color: white;
    /*width: 100%;*/
}

.gamesViewBackground:before {
    content: '';
    position: absolute;
    background: url("./images/gamesAdv2.png") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.gamesViewText {
    height: 80%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
}

.actionBtns {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

@media (max-width: 991px) {
    .actionBtns {
        flex-direction: column;
    }
}