@font-face {
    font-family: Gilroy;
    src: url("/src/fonts/Gilroy-ExtraBold 800.otf");
    font-weight: bold;
}

.formTitle {
    width: 50%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkUpHeader {
    width: 90%;
    margin:  0 auto 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formTitle h5 {
    cursor: pointer;
    user-select: none;
    /*font-family: Gilroy, serif;*/
    font-weight: bold;
}

.form1 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90% !important;
}

.label {
    display: block;
    color: rgba(255, 255, 255, .64);
}

.name, .gender, .region {
    width: 100% !important;
}

.name input, .gender select, .region select {
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    text-indent: 3px;
    padding: 7px 12px;
    background: transparent;
    outline: none;
    color: #FFF;
}

@media (max-width: 600px) {
    .formTitle, .form1 {
        width: 70%;
    }
}