@font-face {
    font-family: Gilroy;
    src: url("/src/fonts/Gilroy-ExtraBold 800.otf");
    font-weight: bold;
}

.hangoutsBackground {
    position: relative;
    background: rgb(109, 196, 242);
    height: 100%;
    opacity: .96;
}

.hangoutsBackground:before {
    position: absolute;
    content: '';
    background: url("../images/hangouts.png") no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.formTitle {
    width: 50%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkUpHeader {
    width: 90%;
    margin:  0 auto 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.formTitle h5 {
    cursor: pointer;
    user-select: none;
    /*font-family: Gilroy, serif;*/
    font-weight: bold;
}

.form1 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90% !important;
}

.label {
    display: block;
    color: rgba(255, 255, 255, .64);
}

.name, .gender, .region {
    width: 100% !important;
}

.name input, .gender select, .region select {
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    text-indent: 3px;
    padding: 7px 12px;
    background: transparent;
    outline: none;
    color: #FFF;
}

.presentation {
    background: rgba(0, 0, 0, 0.76);
    padding-top: 40px;
    height: 100%;
}

.backLink {
    text-align: right;
    padding: 30px;
    font-weight: bold;
    color: #FFF;
}

.backLink a {
    color: #FFF;
}

.backLink a:hover {
    color: #FFF;
    text-decoration: none;
}

@media (max-width: 600px) {
    .formTitle, .form1 {
        width: 70%;
    }
}