.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    background: red !important;
}


@media (max-width: 500px) {
    .MuiDrawer-paperAnchorBottom {
        width: 93% !important;
    }
}

@media (max-width: 1200px) and (min-width: 500px){
    .MuiDrawer-paperAnchorBottom {
        width: 70% !important;
    }
}
